base_url = 'https://api.sipgate.com/v2'

# your Personal-Access-Token and the ID
tokenId = 'YOUR_SIPGATE_TOKEN_ID'
token = 'YOUR_SIPGATE_TOKEN'

# You can use the "/{userID}/sms" endpoint to list the available SMS IDs for a given user (see https://api.sipgate.com/v2/doc#/sms/getSmsExtensions).
# Alternatively you can use the Node.JS library (see https://github.com/sipgate-io/sipgateio-node-examples#list-common-ids)
sms_id = 'YOUR_SIPGATE_SMS_EXTENSION'

# phone number of the recipient
recipient = 'RECIPIENT_PHONE_NUMBER'